@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<ArticleViewModel>

<div class="text-center">

    @foreach (var article in Model)
    {
        <p>@article.Username</p>
        <p>@article.Title</p>
        <p>@article.Description</p>
    }

    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
        <table>
            <tr>
                <td>Article Title : </td>
                <td><input type="text" id="Article" name="Title" /></td>
            </tr>
            <tr>
                <td>Description </td>
                <td><input type="text" id="txtLastName" name="Description" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
        <hr />
    </form>


</div>
