@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<ArticleViewModel>

<div class="text-center">

        @foreach(var article in Model)
        {
            <div class="card text-center">
                <div class="card-header" style="background-color: cornflowerblue; color:black;">
                    @article.Username
                </div>
                <div class="card-body">
                    <h5 class="card-title">@article.Title</h5>
                    <p class="card-text">@article.Description</p>
                    <a href="#" class="btn btn-info">Read More</a>
                </div>
                <div class="card-footer text-muted">
                    UniBlog
                </div>
            </div>
            <br />
         }

</div>
           
